
<div class="container">
    <h3>Education</h3>
    <h3 *ngIf="message" class="alert alert-success">{{message}}</h3>

    <form class="form-group">
    <label>Education Level</label>
    <select  class="form-control" required
    [(ngModel)]="edu.degree" name="degree">
        <option>SSC</option>
        <option>HSC</option>
        <option>Bachelor</option>
        <option>Masters</option>
    </select><br>
    <label>Institue Name</label>
    <input  class="form-control" type="text" required
    [(ngModel)]="edu.institute" name="institute"><br>
    <label>Major</label>
    <input  class="form-control" type="text" required
    [(ngModel)]="edu.major" name="major"><br>
    <label>Passing Year</label>
    <input  class="form-control" type="number" required
    [(ngModel)]="edu.passingYear" name="passingYear"><br>
    <label>GPA</label>
    <input  class="form-control" type="number" required
    [(ngModel)]="edu.gpa" name="gpa"><br>
    <button class="btn btn-info" (click)="addEducation()">Add Education</button>
</form>
</div>