<!-- <ng-container>
	<div class="container">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link active" href="#">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CV Registration</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" routerLink="/personal">Personal Information</a>
					<a class="dropdown-item" routerLink="/education">Education Qualification</a>
                    <a class="dropdown-item" routerLink="/contact">Contact</a>
                    <a class="dropdown-item" routerLink="/language">Language Proficiency</a>
                    <a class="dropdown-item" routerLink="/skill">Technical Skill</a>
                    <a class="dropdown-item" routerLink="/project">Projects</a>
				</div>
			</li>
		</ul>
	</div>

</ng-container> -->


<div class="container">
    <h3>Education</h3>
    <form class="form-group">
    <label>Education Level</label>
    <select  class="form-control" required>
        <option>SSC</option>
        <option>HSC</option>
        <option>Bachelor</option>
        <option>Masters</option>
    </select><br>
    <label>Institue Name</label>
    <input  class="form-control" type="text" required><br>
    <label>Major</label>
    <input  class="form-control" type="text" required><br>
    <label>Passing Year</label>
    <input  class="form-control" type="number" required><br>
    <label>GPA</label>
    <input  class="form-control" type="number" required><br>
    <button class="btn btn-info">Add Education</button>
</form>
</div>