<div class="container">

    <h2>Personal Details</h2>
    <div class="container">
    <label class="col-6">Name</label>
    <label class="col-6">{{person.firstName}} {{person.lastName}}</label><br>

    <label class="col-6">Gender</label>
    <label class="col-6">{{person.gender}}</label><br>

    <label class="col-6">Father Name</label>
    <label class="col-6">{{person.fatherName}}</label><br>

    <label class="col-6">Mother Name</label>
    <label class="col-6">{{person.motherName}}</label><br>

    <label class="col-6">Date of Birth</label>
    <label class="col-6">{{person.dob}}</label><br>
</div>