<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a *ngIf='auth.isUserLoggedIn()' class="nav-link active"
                    routerLink="/home/{{auth.user_role}}/{{auth.user_id}}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a *ngIf='auth.isUserLoggedIn()' class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    CV Registration
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/personal">
                        Personal Information
                    </a>
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/education">
                        Education Qualification
                    </a>
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/contact">
                        Contact
                    </a>
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/language">
                        Language Proficiency
                    </a>
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/skill">
                        Technical Skill
                    </a>
                    <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/project">
                        Projects
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">

            <li class="nav-item">
                <a *ngIf='!auth.isUserLoggedIn()' routerLink='/signin' class="nav-link" role="button"
                    align="right">Login
                </a>
            </li>
            <li class="nav-item">
                <a *ngIf='auth.isUserLoggedIn()' routerLink='/logout' class="nav-link" role="button"
                    align="right">Logout
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- <div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a *ngIf='auth.isUserLoggedIn()' class="nav-link active"
                routerLink="/home/{{auth.user_role}}/{{auth.user_id}}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a *ngIf='auth.isUserLoggedIn()' class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="true" aria-expanded="false">
                CV Registration
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/personal">
                    Personal Information
                </a>
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/education">
                    Education Qualification
                </a>
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/contact">
                    Contact
                </a>
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/language">
                    Language Proficiency
                </a>
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/skill">
                    Technical Skill
                </a>
                <a class="dropdown-item" routerLink="/{{auth.user_role}}/{{auth.user_id}}/project">
                    Projects
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a *ngIf='!auth.isUserLoggedIn()' routerLink='/signin' class="nav-link" role="button" align="right">Login
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf='auth.isUserLoggedIn()' routerLink='/logout' class="nav-link" role="button" align="right">Logout
            </a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">

    </ul>
</div> -->