
<div class="container">
    <h3>Contact</h3>
    <h3 *ngIf="message" class="alert alert-success">{{message}}</h3>

    <form class="form-group">
    <label>Adress</label>
    <input type="text" required  class="form-control"
    [(ngModel)]="contactObj.presentAddress" name="presentAddress"><br>
    <label  class="">Mobile No.</label>
    <select class="form-control"> 
        <option>+88</option>
    </select>
    <input class="form-control" type="text" required
    [(ngModel)]="contactObj.mobile" name="mobile"><br>
    <label>Email</label>
    <input class="form-control" type="text" required
    [(ngModel)]="contactObj.email" name="email"><br>
    <label>Website</label>
    <input class="form-control" type="text" required
    [(ngModel)]="contactObj.website" name="website"><br>

    <button class="btn btn-info" (click)="addContact()">Add Contact</button>
</form>
</div>