<!-- 
	<div class="container">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link active" href="#">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CV Registration</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" routerLink="/personal">Personal Information</a>
					<a class="dropdown-item" routerLink="/education">Education Qualification</a>
                    <a class="dropdown-item" routerLink="contact">Contact</a>
                    <a class="dropdown-item" routerLink="/language">Language Proficiency</a>
                    <a class="dropdown-item" routerLink="/skill">Technical Skill</a>
                    <a class="dropdown-item" routerLink="/project">Projects</a>
				</div>
			</li>
		</ul>
	</div> -->



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
<div class="container">
    <h3>Contact</h3>
    <form class="form-group">
    <label>Adress</label>
    <input type="text" required  class="form-control"><br>
    <label  class="">Mobile No.</label>
    <select class="form-control"> 
        <option>+88</option>
    </select>
    <input class="form-control" type="text" required><br>
    <label>Email</label>
    <input class="form-control" type="text" required><br>
    <label>Website</label>
    <input class="form-control" type="text" required><br>

    <button class="btn btn-info">Add Contact</button>
</form>
</div>