<!--  -->

 <div class="container">
    <h3>Project</h3>
    <h3 *ngIf="message" class="alert alert-success">{{message}}</h3>

    <label>Project Name</label>
    <input   class="form-control" type="text" required
    [(ngModel)]="project.projectName" name="projectName"><br>
    <label>Description</label>
    <input  class="form-control" type="text" required
    [(ngModel)]="project.description" name="description"><br>
    <label>Link</label>
    <input  class="form-control" type="text" required
    [(ngModel)]="project.link" name="link"><br>
    <button class="btn btn-info" (click)="addProject()">Add  Project</button>
</div>