    <div class="container">
        <h3>Skill</h3>
        <h3 *ngIf="message" class="alert alert-success">{{message}}</h3>

        <label>Skill</label>
        <select  class="form-control" required [(ngModel)]='skillObj.skill'>
            <option>Java</option>
            <option>Angular</option>
            <option>MySQL</option>
            <option>Web Application</option>
            <option>Spring Boot</option>
            <option>React</option>
            <option>Git</option>
            <option>LaTex</option>
        </select><br>

        <button class="btn btn-info" (click)="addSkill()">Add Skill</button>

        </div>